$zinc_50: #fafafa;
$zinc_100: #f4f4f5;
$zinc_200: #e4e4e7;
$zinc_300: #d4d4d8;
$zinc_400: #a1a1aa;
$zinc_500: #71717a;
$zinc_600: #52525b;
$zinc_700: #3f3f46;
$zinc_800: #27272a;
$zinc_900: #18181b;
$zinc_950: #09090b;

$violet_50: #f5f3ff;
$violet_100: #ede9fe;
$violet_200: #ddd6fe;
$violet_300: #c4b5fd;
$violet_400: #a78bfa;
$violet_500: #8b5cf6;
$violet_600: #7c3aed;
$violet_700: #6d28d9;
$violet_800: #5b21b6;
$violet_900: #4c1d95;
$violet_950: #2e1065;

$emerald_50:#ecfdf5;
$emerald_100:#d1fae5;
$emerald_200:#a7f3d0;
$emerald_300:#6ee7b7;
$emerald_400:#34d399;
$emerald_500:#10b981;
$emerald_600:#059669;
$emerald_700:#047857;
$emerald_800:#065f46;
$emerald_900:#064e3b;
$emerald_950:#022c22;