@use '../../sass/main.scss';

.btn {
	border-radius: 2rem;
	border: 2px solid transparent;
	width: 10rem;
	height: 3rem;

	font-size: 1.575rem;
	font-weight: 600;

	color: main.$zinc_200;
	background-color: main.$violet_700;

	transition: all 0.3s ease-in-out;


	&:hover {
		width: 11rem;

		filter: brightness(125%);
		border: 2px solid main.$violet_800;
		background-color: main.$violet_950;
		color: main.$violet_800;
	}

	&:active {
		background: main.$violet_950;
		color: main.$zinc_300;
	}
}
